<footer class="footer">
    <div class="footer-inner">
        <div class="footer-grid">

            <div>
                <div class="footer-brand">SifirusCloud</div>
                <div class="footer-desc">Платформа для независимой музыки. Загружайте, слушайте, открывайте новых
                    авторов.
                </div>
            </div>

            <div>
                <div class="footer-col-title">Платорма</div>
                <a class="footer-link" href="#">Каталог</a>
                <a class="footer-link" href="#">Чарты</a>
            </div>

            <div>
                <div class="footer-col-title">Аккаунт</div>
                <a class="footer-link" href="{% url 'login' %}">Войти</a>
                <a class="footer-link" href="{% url 'register' %}">Регистрация</a>
            </div>

            <div>
                <div class="footer-col-title">Компания</div>
                <a class="footer-link" href="#">О нас</a>
                <a class="footer-link" href="#">Условия</a>
                <a class="footer-link" href="#">Конфиденциальность</a>
                <a class="footer-link" href="#">Контакты</a>
            </div>

        </div>
        <div class="footer-bottom">
            <span>© 2026 SifirusCloud. Все права защищены.</span>
        </div>
    </div>
</footer>